* {
    margin: 0;
    padding: 0;
}

.container, .video-cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-cont {
    position: relative;
    flex-direction: column;
    height: auto;
}

video {
    width: 95%;
}

.controles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 30px;
    background-color: #000a;
}

.play-pause, .volumen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volumen {
    width: 100px;
    justify-content: space-between;
}

#vol {
    margin-right: 10px;
}

#volumen {
    -webkit-appearance: none;
    width: 70px;
    height: 2px;
    background-color: #fff;
}

#volumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
}

em {
    color: #fff;
}

span {
    display: inline;
    color: #fff;
}

.duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.duration input {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background-color: #aaa;
    margin: 0 20px;
}

.duration input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
}
